/*
* HEADER
*/

* {
    box-sizing: content-box;
}

html, body, .burger__sub-menu, header, footer{
    height: 100%;
}

body>header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:2;
}

a {
    text-decoration: none;
    color:black;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.8rem 1rem 1rem;
    align-items:center;
    z-index:4;
    box-shadow: inset 0 -1px 2px rgb(214, 212, 212);
    background-color:white;
}

.menu__home {
    width: 2rem;
    height:2rem;
    background-image: url("/images/logo-starbucks.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__burger {
    width:1rem; 
    height:1rem;
    position: relative;
    transition:transform 0.15s;
}

.burger__line {
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    height: 1px;
    background-color: gray;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.15s , transform 0.15s;
}

.burger__line::after, .burger__line::before{
    position: absolute;
    top:0;
    left: 0;
    content:'';
    width: 100%;
    height: 1px;
    background-color: gray;
    transform-origin:50% 50%;
    transform:rotate(0deg);
}

.burger__line::before {
  transform: translateY(-6px);
  animation: menu-line 0.15s;
}

.burger__line::after {
   transform: translateY(6px);
   animation: menu-line 0.15s;
}

.menu__burger.open {
    transform: rotate(180deg);
    transition:transform 0.15s;
}

.menu__burger.open>.burger__line {
    background-color:transparent;
    transition:transform 0.15s, background-color 0.15s;
}

.menu__burger.open>.burger__line::before {
    transform: rotate(45deg);
    animation:  menu-line-return 0.15s;
}
.menu__burger.open>.burger__line::after {
    transform: rotate(-45deg);
    animation: menu-line-return 0.15s;
}

@keyframes menu-line {
    40%,60% {
        transform: translateY(0);
        transform:rotate(0deg);
    }
}
@keyframes menu-line-return {
    40%,60% {
        transform:rotate(0deg);
        transform: translateY(0);
    }
}

.burger__sub-menu, .sub-menu__menu {
    position: fixed;
    top: 0;
    right: -300rem;
    z-index: 2;
    padding: 1.5rem;
    background-color: white;
    transition: right 0.15s;
}

.burger__sub-menu.open, .sub-menu__menu.open{
    transition: right 0.15s;
    right: 1.5rem;
    width: calc(100%/3*2);
    height: 100%;
    margin-top: 3.8rem;
}

.sub-menu__menu {
    z-index:3;
    top: 0;
    padding:0;
    font-size:1.2rem;
    
}

.sub-menu__menu.open {
    width: calc(100%/5*4);
}

.sub-menu__benefit, .sub-menu__client, .sub-menu__location {
    display: flex;
    flex-direction: column;

}

.benefit__link, .sub-menu__location, .sub-menu__client {
    margin: 1rem 0;
    padding: 0.5rem 0 0;
    box-shadow:0 0;
}

.sub-menu__benefit {
    border-bottom: 2px solid rgb(214, 212, 212);
    width: 70%;
    padding-bottom: 1rem;
    font-size:1.3rem;
}

.sub-menu__client {
    padding-top:1rem;
}

.sub-menu__location, .sub-menu__client {
    font-size:1.1rem;
}

.client__link.connexion {
    border: 1px solid black;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    width: max-content;
}

.new-client {
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    width: max-content;
    background-color: black;
    color:white;
}

.benefit__link.menu::after {
    content:">";
    font-weight: bold;
}

.menu__title {
    background-color:rgb(240, 240, 240);
    padding: 1.2rem;
}

.menu__title::before {
    content:"<";
    font-weight: bold;
    padding-right: 24%;
}

.menu__products {
    margin: 1.5rem 0 2.3rem 2rem;
}

/*
* MAIN
*/
main {
    margin-top: 3.74rem;
    letter-spacing: 1px;
    text-align: center;
}

.opacity {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:1;
    opacity: 0;
    transition: opacity 0.15s; 
}

.opacity.open {
    background-color:black;
    opacity:0.3;
    transition: opacity 0.15s; 
}

.article {
    margin: 2rem 0 2rem;
    text-align: center;
    color:#1E3932;
}

.article__picture {
    background-image: url("/images/star-starbucks.png");
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 13rem;
}

.article__picture--picture2 {
    background-image: url("/images/watercolor.jpg");
    background-color: gray;
    height: 20rem;
}

.article__picture--picture3 {
    background: #ff5600;
    height: 20rem;
}

.article__picture--picture4 {
    background-image: url("/images/summer.jpg");
    background-color: gray;
    height: 20rem;
}

.picture__second {
    z-index: 1;
    width: 90%;
    padding: 1.4rem 0rem;
    margin: auto;
    height: 17.5rem;
}

.article__section {
    background-color: #f1f8f6;
    padding: 1rem 0 2.6rem;
}

.article__section--background2 {
    background:rgb(242, 240, 235);
    padding: 1rem 0.8rem 2.6rem;
    letter-spacing: -0.07rem;
}

.article__section--background3 {
    background:#D4E9E2;
    padding: 1rem 0.8rem 2.6rem;
    letter-spacing: -0.07rem;
}

.article__title {
    text-transform: uppercase;
    margin:1.1rem 0 0;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    padding: 0 3rem;
}

.article__title--2{
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.3rem;
}

.article__title--3 {
    text-transform: lowercase;
}

.article__title--3::first-letter {
    text-transform: uppercase;
}

.article__text {
    margin: 2.5rem 0 2.8rem;
}

.article__text--text2 {
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.article__text--text3 {
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
}

.article__link {
    text-decoration: none;
    border: 1px solid #1E3932;
    border-radius: 1rem;
    font-weight: 600;
    color:#1E3932;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.rating {
    line-height: 1.3rem;
    box-shadow: inset 0 -1px 2px rgb(214, 212, 212);
    padding-bottom: 0.5rem;
}

.rating__text {
    margin: 5rem 1rem 5rem 0.5rem;
    letter-spacing: -0.013rem;
}

.rating__text:nth-child(0n+1) {
    letter-spacing: -0.02rem;
}

.rating__text:nth-child(0n+2) {
    margin: 5rem 1rem 1.8rem 0.5rem;
}

.rating__link {
    color: black;
}

/*
* FOOTER
*/

footer {
    padding: 0 0.5rem 1rem 1rem;
    width: 100%;
}

.footer__menu-title {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding: 1.8rem 0 0.9rem;
    background-color:white;
    z-index: 1;
}

.menu-title__icone {
    transform: rotate(90deg);
    font-weight: bold;
    transition: transform 0.15s; 
}

.menu-title__icone.open {
    transform: rotate(-90deg);
    transition: transform 0.15s;
}

.menu__subtitle{
    display: flex;
    flex-direction: column;
    position: relative;
    top:0;
}

.menu__subtitle.hidden{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-3.75rem;
}

.menu-link {
    text-decoration: none;
    padding:0 0 1.8rem 0;
    color:rgb(105, 105, 105);
    z-index:2;
    height:auto;
    transition: height 0.15s, padding 0.15s;
}

.menu-link.hidden {
    padding: 0;
    z-index:-1;
    height:0;
    transition: height 0.15s, padding 0.15s;
}

.footer__menu--second {
    margin-top: 2.3rem;
    padding-top:2.3rem;
    border-top: 2px solid rgb(214, 212, 212);
}

.fab.fa-border {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}

.community-link {
    margin-bottom:2rem;
}

.community-link>a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: black;
}

.translation {
    text-decoration: none;
    color:#008248;
    font-weight: bold;
}

.copyright {
    margin: 1rem 0;
    width:98%;
}
